@model IEnumerable<POS.ViewModel.MstEmployeeOutletViewModel>

@foreach (var item in Model)
{
    <tr id="RD-@Html.DisplayFor(modelItem => item.outletId)">
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
    </tr>
}

